@import url();
@font-face {
    font-family: "pricedown";
    src: url(../arquivos/font/bl.otf);
}

.bodyInicial {
    margin: 0px;
    overflow-x: hidden;
    height: 300vh;
    width: 100%;
    

}
body{
    margin: 0px;
    overflow-x: hidden;
}
.bodyLoginCadas{
    overflow-y: hidden;
}
.barra {
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 2%;

}
.barra img{
    height: 70%;
    width: 70%;
}
.iconsBarra {
    display: flex;

    width: 90%;
   
}
.iconsBarra a:hover {
    color: gray;
}
.iconsBarra a {
    display: flex;
    justify-content: start;

    text-decoration: none;

    
    font-size: clamp(1rem, 5vw, 2.5rem);
     
    font-family: "pricedown", Courier, monospace;
    color: white
}
.iconsBarra .b1_button {
    
    margin-right: 3%;
    margin-left: 2%;
    

}
.iconsBarra .b2_button {
   margin-right: 56%;
  
}

/* Parte do meio da home */
.telaHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
   

    background-image: url(../arquivos/imagens/imagemDaHome.jpg);

    background-size: cover;

    background-repeat: no-repeat;
    height: 30%;


}
.textinicial {
    margin-left: 1%;
    height: 40%;
    width: 65%;

}
.fraseBemvindo {
    
    font-size: clamp(1rem, 5vw, 3rem);
    color: #062818;
    font-family: "pricedown", Courier, monospace;
    margin-top: 0;
    margin-bottom: 2%;
}
.fraseParaCadastrar {
    color: #000;
    font-size: clamp(0.1rem, 1.3vw, 1.5rem);
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-top: 2%;
   
    
}
#botaoEntrar:hover {
  
    color: gray;
    border: solid white;
}
.botoesDaHome {
    display: flex;
    margin-top: 1%;
    width: 25%;
    padding-left: 8%;
    height: 12%;
   
}
#botaoEntrar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: white;
    border-radius: 20px;
    border: 0;
    font-size: clamp(0.1rem, 2vw, 2.5rem);
    
    font-family: "pricedown", Courier, monospace;
    text-decoration: none;
    width: 30%;

}
#botaoCadastrar:hover {
  
    color: gray;
    border: solid #000;
}
#botaoCadastrar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 0;

    font-size: clamp(0.1rem, 2vw, 2.5rem);
    font-family: "pricedown", Courier, monospace;
    text-decoration: none;

    height: 100%;
    
    width: 50%;
    margin-left: 10%;
}

/* Tela de baixo */
.conteBaixo{
    background-color: #0B0B0B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    height: 68%;
}
.barra{
    
    display: flex;
    flex-direction: row;
    height: 3%;

    background-color: #000;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 1%;
    font-size: clamp(1rem, 5vw, 3rem);
   

}
.barra p{
    margin: 0;
}
.pag1{
    display: flex;
    align-items: center;
 
    color: white;
    height: 46%;
    
}
.pag1 a{
    margin-right: 20%;
    margin-left: 5%;
   
}
.pag1 img{
    height: 90%;
    width: 90%;
}
.textoPages{
    display: flex;
    flex-direction: column;
   
    font-size: clamp(0.1rem, 1.5vw , 1.5rem);
    width: 50%;
    height: 99%;
    
}

/* tela de baixo 2  */
.pag2{
    display: flex;

    color: white;
    height: 43.6%;
}

.pag2 p{
    display: flex;
    flex-direction: column;
    
    color: white;
    
}
.imagensbarra2{
    margin-right: 20%;
    margin-left: 5%;
    width: 53%;
    display: flex;
    flex-direction: column;

}
.imagensbarra2 img{
    
    width: 70%;
    height: 33%;
    margin-bottom: 10%;
    
}





/*Página de Cadastro*/

.topo{
    display: flex;
    
   align-items: center;
   width: 100%;
}
.topo #imagemSan{
   margin-right: 85%;
}
.topo #atalhoLogin:hover{
    color: gray;
}
.topo #atalhoLogin{
    color: white;
    text-decoration: none;
    font-family: "pricedown", Courier, monospace;
   
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.containerCadastro{
    display: flex;
    
    
    margin: 0;
    background-image: url(../arquivos/imagens/telaCadastro.png);
    background-size: cover;
    background-repeat: no-repeat;

    flex-direction: column;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    height: 88.4vh;





    
}
.containerCadastro a:hover{
    color: gray;
}
.containerCadastro a{
    margin: 2%;
    color: #000;
    text-decoration: none;
    font-size: clamp(0.1rem, 5vw, 1rem);
    width: 6%;
    
    

}
.spaceCadastro{
    margin-left: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    width: 38%;
    height: 65%;
    
    
    
    border: solid #000;
    background-color: #BE6327;
    border-radius: 30px;
  
    
}
.spaceCadastro p{

    font-size: clamp(0.1rem, 5vw, 2rem);
    font-weight: 800;
    margin: 4%;
}
.spaceCadastro .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
   
   height: 100%;
    width: 100%;
    
}


.spaceCadastro .inputs #inputEmail{
    display: flex;
    


    border-radius: 30px;
    height: 8%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}.spaceCadastro .inputs #inputNome{
    display: flex;
    


    border-radius: 30px;
    height: 8%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}.spaceCadastro .inputs #inputSenha{
    display: flex;
    


    border-radius: 30px;
    height: 8%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}.spaceCadastro .inputs #inputConFirmarSenha{
    display: flex;
    


    border-radius: 30px;
    height: 8%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}
.spaceCadastro .selects{
    display: flex;
    flex-direction: row;
    height: 8%;
    width: 100%;
    justify-content: space-around;
}
.spaceCadastro .selects #inputSelGangue{
    display: flex; 
    border-radius: 30px;
    
    width: 30%;
    border: none;
   
    text-align: center;
    padding: 0;
}.spaceCadastro .selects #inputSelCidade{
    display: flex; 
    border-radius: 30px;
    
    width: 30%;
    border: none;
   
    text-align: center;
    padding: 0;
}
.inputs #butaoCadastrar{
    margin-top: 4%;
    margin-bottom: 1%;
    color: white;
    background-color: #000;
    height: 10%;
    width: 30%;
    font-size: clamp(0.1rem, 5vw, 1.25rem);
    border-radius: 20px;
    font-family: "pricedown", Courier, monospace;
}





/* pagina de login */
.topo2{
    display: flex;
    
   align-items: center;
   width: 100%;
}
.topo2 #imagemSan{
   margin-right: 80%;
}
.topo2 #atalhoCadastro:hover{
    color: grey;
}
.topo2 #atalhoCadastro{
    color: white;
    text-decoration: none;
    font-family: "pricedown", Courier, monospace;
    font-size: clamp(1rem, 2vw ,2.5rem);

}

.containerLogin{
    display: flex;
    
    
    margin: 0;
    background-image: url(../arquivos/imagens/telalogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    background-position-y: 50%;

    flex-direction: column;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    height: 88.4vh;



    
}

.containerLogin a:hover{
    color: gray;
}
.containerLogin a{
    margin: 2%;
    color: #000;
    text-decoration: none;
    margin-bottom: 2%;
    width: 6%;
    

}
.spaceLogin{
    margin-left: 6%;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    width: 38%;
    height: 55%;
    
    
    
    border: solid #000;
    background-color: #7D423E;
    border-radius: 30px;
  
    
}.spaceLogin p{

    font-size: clamp(0.1rem,5vw,2rem);
    font-weight: 800;
    margin: 4%;
    
    
}
.spaceLogin .inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
   
   height: 75%;
    width: 100%;
    
}

.spaceLogin .inputs #in_Email{
    display: flex;
    


    border-radius: 30px;
    height: 100%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}.spaceLogin .inputs #in_Senha{
    display: flex;
    


    border-radius: 30px;
    height: 100%;
    width: 80%;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
    padding: 0;
    
    
    
}
.inputs #butaoLogin{
    margin-top: 8%;
    margin-bottom: 1%;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    height: 100%;
    width: 30%;
    font-size: clamp(0.1rem,5vw,1.25rem);
    border-radius: 20px;
    border: solid black ;
    font-family: "pricedown", Courier, monospace;
   
    
}

#PdeRedirecionamento{
    font-size: clamp(0.1rem,5vw,0.9rem);
    font-weight: 700;
    margin-top: 5%;
   
    color: white;
    
    justify-self: center;
   margin-left: 0;
margin-right: 0;   

}
#AdeRedirecionamento:hover{
    color:grey
}
#AdeRedirecionamento{
 

    color: white;
  
    justify-self: center;
   margin-left: 0;
margin-right: 0;   

}


