@import url();
@font-face {
    font-family: "pricedown";
    src: url(../arquivos/font/bl.otf);
}
/*1366 607*/
body{
overflow-x: hidden;
margin: 0;




}
.userTela{
    height: 100vh;
    overflow: hidden;
}
 .barra {
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 10%;
    


}
.barra img{
    height: 70%;
    width: 70%;
}
.redirecionadores {
    display: flex;
    width: 76%;

    
}
.redirecionadores a:hover{
    color: gray;
} 
.redirecionadores a{
    font-family: 'pricedown';
    font-size: clamp(1rem, 5vw, 2rem);
    color: white;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 2%;
}
.home {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%;
    width: 100%;

    display: flex;
    
    flex-direction: column;
   
    
    
}
.sombra{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}

.layoutUser{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    margin-top: 5%;
    
    
}#imagemUser{
    width: 12%;
    height: 60%;
    border-radius: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2%;
    margin-right: 2%;
    background-position: center;
    background-position-y: -1%;
    
}
.containerTextoUser{
    height: 100%;
    display: flex;
    flex-direction: column;
   
    justify-content: center;

}
.textoUser{
    font-family: "pricedown";
    color: white;
    
}
#p_ola{
    font-size: clamp(1rem, 5vw, 3rem);
}

#p_membro{
    font-size: clamp(0.5rem, 2vw, 1.5rem);
}

#p_cidade{
    margin-top: 0;
    font-size: clamp(0.5rem , 2vw, 1.5rem);
}
.bannerquiz{
    height: 34%;
  
   
    background-image: url(../arquivos/imagens/videogame.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
   
}
.bannerhistoria{
  
    height: 25%;         
    background-image: url(../arquivos/imagens/CjOlhandoFoto.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.bannerenciclopedia{
    height: 34%;
    
    background-image: url(../arquivos/imagens/mapa.png);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.bannermaissobre{    
    height: 16.7%;
   
    background-image: url(../arquivos/imagens/revista.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    
    
}.pontos{
    margin-left: 40%;
    height: 100%;
    display: flex;
    align-items: center;

}
#p_pontos{
    font-family: "pricedown";
    color: white;
    font-size: clamp(1rem, 5vw, 3rem); ;
}
.color{
     
    
    height: 100%;
    width: 100%;
    margin: 0 ;
    
    display: flex;
    align-items: center;
   
}

.textoInBanner{
    font-family:  'pricedown';
    font-size: clamp(1rem, 5vw, 4rem);
    color: white;
    margin-left: 2%;
    margin-right: 60%;

} 
.pontosInBanner{
    font-family:  'pricedown';
    font-size: clamp(1rem, 5vw, 4rem);
    color: white;
    margin-left: 2%;
}
.butaoSair:hover{
    color: grey
}

.butaoSair button{
    
    text-decoration: none;
    
    font-family: 'pricedown';
    font-size: clamp(1rem, 5vw, 2rem);
    color: white;
    text-decoration: none;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 0;
    margin: 2%;
}


/* Tela Historia */


.telaHistoria{
    height: 200vh;
}
 .barraHistoria{
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 5%;
    


}.barraHistoria img{
    height: 70%;
    width: 70%;
}.butaoTrocar{
 background-color: rgb(235, 235, 235);
 font-family: 'pricedown';  
 justify-self:flex-start; 
 border-radius: 20px;
 height: 40%;
 width: 8%;
 font-size: clamp(0.5rem, 1vw, 2rem);
 margin-right: 35%;
 margin-left: 1%;
}
.containerCJ{
    height: 70%;
    
}
.barraCJ{
    height: 10%;
   
    display: flex;
    
    align-items: center;
    font-size: clamp(1rem, 5vw, 3rem);
    font-family: "pricedown";
    color: white;
}
.infoCJ{

    margin: 1%;
    height: 30%;
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-radius: 20px;
}.infoCJ img{
    float: left;
    height: 45%;
    width: 10%;
    margin: 1%;
    margin-right: 1%;
    border: solid black ;
    
}
.infoCJ p{
    margin: 1%;
    margin-bottom: 1%;

    
   font-weight: 600;
    font-size: clamp(0.1rem, 1vw, 1.3rem);
    
    
}.imagemForCJ{
    height: 55% ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    
}.textoDeVersãoCJ {
    height: 40%;
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-radius: 20px;
    width: 80%;
    display: flex;
  align-items: center;
    flex-direction: column;
    margin: 1%;
    
}
.textoDeVersãoCJ img{
    height: 90%;
}.textoDeVersãoCJ div{
    font-size: clamp(0.1rem, 1vw, 0.7rem);
    font-weight: 600;
}.fotosDeGameplay{
    height: 40%;
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-radius: 20px;
    width: 80%;
    display: flex;
  align-items: center;
    flex-direction: column;
    margin: 1%;
    
}
.fotosDeGameplay img{
    height: 90%;
}.fotosDeGameplay div{
    font-size: clamp(0.1rem, 1vw, 0.9rem);
    font-weight: 600;
}.primeiroCard{
height: 100%;
width: 40%;
}.segundoCard{
height: 100%;
width: 40%;
}

.missoescontainer{
   
   
    height: 70.1%;
    

}
.barraMissoes{
    height: 10%;
    background-color: rgba(48, 100, 56, 0.747);
    display: flex;
    
    align-items: center;
    font-size: clamp(1rem, 5vw, 3rem);
    font-family: "pricedown";
    color: white;
}.acoesEmMissoesContainer{
    display: flex;
    height: 8%;
    background-color: rgb(235, 235, 235);
    border: solid black;
    border-radius: 20px;
    margin-bottom: 0.5%;
    width: 80%;
    margin-left: 10%;
    align-items: center ;
}
.acoesEmMissoesContainer span{
    font-weight: 600;
    font-size: clamp(0.1rem, 5vh, 1rem );
    margin: 1%;
}.acoesEmMissoesContainer button{
    height: 50%;
    width: 10%;
    background-color: rgb(202, 201, 201);
    font-size: clamp(0.1rem, 5vh, 1rem );
    border-radius: 20px;
    font-family: "pricedown";
} 
.missoes{
    margin-left: 10%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 77%;
    width: 80%;
  
    padding: 0;
    padding-left: 1%;
    

}

.missoesCard{
        height: auto;
        border: solid black;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        
    }
.butaoMissao{
    margin-left: 1% ;
    border-radius: 5px;
    width: 2%;
    height: 2vh;
}
.span_missaoname{
    margin-left: 1%;
    font-family: "pricedown";
    font-size: clamp(0.4rem, 1vw, 1rem);
    color: rgb(0, 0, 0);
}
.barraCardMissoes{
    display: flex;
    align-items: center;
    
    background-color:  rgba(48, 100, 56, 0.747);;
} 
.span_localMissao{
     
    margin-left: 1%;
    font-family: "pricedown";
    font-size: clamp(0.4rem, 1vw, 2rem);
    color: rgb(0, 0, 0);
}
.div_descricao{
    margin: 1%;
    font-weight: 600;
    font-size: clamp(00.4rem, 1vw, 1rem);
}

/* TELA QUIZ */

.TelaQuiz{
    height: 150vh;
    background-color: rgb(212, 152, 152);
}
 .barraQuiz{
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 7%;
    


}.barraQuiz img{
    height: 70%;
    width: 70%;
}.containerquiz{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 6%;
}.barraJogarQuiz{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid black;
    
    width: 100%;
    height: 100%;
}.barraJogarQuiz button{
    font-family: "pricedown";
    color: black;
    border-radius: 20px;
    background-color: rgb(202, 201, 201);
    height: 100%;
    font-size:  clamp(1rem, 5vw, 3rem);
    display: flex;
    align-items: center;

}.graficos{
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    
}.grafico1{
    width: 30%;
    height: 100%;
    margin: 1%;
    
}.grafico2{
    width: 30%;
    height: 100%;
    margin: 1%;
}.containerhist{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.HistPontos{
    background-color: rgb(235, 235, 235);
    border: solid;
    border-radius: 20px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}.HistPontos p{
   font-family: "pricedown";
   font-size: clamp(0.1rem, 1vw, 1.2rem);
   border-bottom: solid black;
   margin-top: 3%;
   margin-bottom: 2%;
   
}.fraseHist{
     font-family: "pricedown";
    font-size:clamp(0.1rem, 1.8vw, 1.4rem);
    border-bottom: solid black;
}

/* Tela Enciclopedia */
.telaEnciclopedia{
    height: 150vh;
}
 .barraEnciclopedia{
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 7%;
    


}.barraEnciclopedia img{
    height: 70%;
    width: 70%;
}

/*Tela Mais Sobre*/
.telaMaisSobre{
    height: 300vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.barraMaisSobre{
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 3.5%;
    


}.barraMaisSobre img{
    height: 70%;
    width: 70%;
}.InfosTelaMaisSobre{
    height: 87%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}.barraDeinfosMais{
    height: 5.4%;
    color: white;
    
    font-size:  clamp(1rem, 5vw, 3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: "pricedown";
}.containerText1{
    width: 80%;
    height: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border: solid ;
    border-radius: 20px;
}.containerText2{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    border: solid ;
    border-radius: 20px;
}.containerText3{
    width: 80%;
    height: 27%;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    border: solid ;
    border-radius: 20px;
}
.FranquiaText{
    display: flex;
    align-items: center;
    height: 44%;
}.FranquiaText img{
    width: 20%;
    height: 100%;
    margin: 1%;
}.FranquiaText p{
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 1%;
    
}
.VendidoText{
    display: flex;
    align-items: center;
    height: 30%;
}.VendidoText img{
    width: 20%;
    height: 100%;
    margin: 1%;

}
.VendidoText p{
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 1%;

    
}
.indicaçõesText p{
    display: flex;
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 1%;
    

}.rockstarText{
    display: flex;
    align-items: center;
    height: 53%;
}.rockstarText p{
    font-size: clamp(1rem, 2vw, 1.8rem);
    margin: 1%;
    
}.CabecaText{
    display: flex;
    align-items: center;
    height: 44%;
}.CabecaText img{
    
    height: 100%;
    margin: 1%;
}.CabecaText p{
    font-size: clamp(1rem, 2vw, 1.9rem);
    margin: 1%;
}.remasterText{
    display: flex;
    align-items: center;
    height: 46%;
    
}.remasterText img{
    width: 20%;
    height: 100%;
    margin: 1%;

}.remasterText p{
    font-size: clamp(1rem, 2vw, 1.9rem);
    margin: 1%;

}.acompanhamentoRemaster {
    display: flex;
    align-items: center;

}.acompanhamentoRemaster p{
    font-size: clamp(1rem, 2vw, 1.9rem);
    margin: 1%;
}
    

/* Tela play quiz */

.containerQUIZ{
    border: solid black;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    background-color: rgba(133, 228, 176, 0.65);
    margin: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}.barraQuizInGame{
    font-family: "pricedown";
    width: 30%;
    height: 10%;
    border: solid black;
     background-color: rgba(133, 228, 176, 0.65);
     border-radius: 20px;
     align-items: center;
     display: flex;
     justify-content: center;
     font-size: clamp(1rem, 5vw, 5rem);
}.perguntas{
    display: flex;
    height: 40%;
    background-color: rgb(235, 235, 235);
    width: 90%;
    border: solid black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}.respostas{
    margin-top: 2%;
    height: 50%;
    width: 90%;

    
   
    display: flex;
    flex-direction: column;

}.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}.resultado p{
    width: 30%;
    height: 30%;
    font-size: clamp(1rem, 4vw, 2rem);
    font-family: "pricedown";
    display: flex;
    justify-content: center;
    align-items: center;
}
.butaoVoltar{
    width: 30%;
    height: 30%;

}.butaoVoltar button:hover {
    background-color: gray;
    color: #2e2d2d;
}
.butaoVoltar button{
    width: 100%;
    height: 100%;
    font-size: clamp(1rem, 5vw, 4rem  );
    font-family: "pricedown";
    border-radius: 20px;
}
.classpergunta{
    font-size: clamp(0.1rem, 1.1vw, 1.2rem);
    margin: 1%;
    font-weight: 600;
}.cardPergunta:hover {
    background-color: gray;
    color: #2e2d2d;
}
.cardPergunta{
    height: 25%;
    width: 100%;
    border-radius: 20px;
    
    font-size: clamp(0.1rem, 1vw, 1.5rem);
}