@import url();
@font-face {
    font-family: "pricedown";
    src: url(../arquivos/font/bl.otf);
}
body{
height: 100vh;
margin: 0;
overflow-y: hidden;


}
 .barra {
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #000;
    align-items: center;
    height: 10%;
    


}
.barra img{
    height: 70%;
    width: 70%;
}
.redirecionadores {
    display: flex;
    width: 76%;

    
}
.redirecionadores a:hover{
    color: gray;
} 
.redirecionadores a{
    font-family: 'pricedown';
    font-size: clamp(1rem, 5vw, 2rem);
    color: white;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 2%;
}
.home {
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100%;
    width: 100%;

    display: flex;
    
    flex-direction: column;
   
    
    
}
.sombra{
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
}
.layoutUser{
 
    width: 100%;
    height: 40%;
    border-radius: 20px;
    margin-top: 5%;
    
    
}
.textoUser{
    font-family: "pricedown";
    color: white;
}

.bannerquiz{
    height: 50%;
  
   
    background-image: url(../arquivos/imagens/videogame.png);
    border-radius: 20px;
}
.bannerhistoria{
  
    height: 50%;         
    background-image: url(../arquivos/imagens/CjOlhandoFoto.png);
    border-radius: 20px;
}
.bannerenciclopedia{
    height: 50%;
    
    background-image: url(../arquivos/imagens/mapa.png);
    border-radius: 20px;
}
.bannermaissobre{    
    height: 50%;
   
    background-image: url(../arquivos/imagens/revista.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    
    
}
.color{
     
    
    height: 100%;
    width: 100%;
    margin: 0 ;
    
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.textoInBanner{
    font-family:  'pricedown';
    font-size: clamp(1rem, 10vh, 4rem);
    color: white;
    margin-left: 2%;

} 
.butaoSair:hover{
    color: grey
}

.butaoSair button{
    
    text-decoration: none;
    
    font-family: 'pricedown';
    font-size: clamp(1rem, 5vw, 2rem);
    color: white;
    text-decoration: none;
    width: 10%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 0;
}
.missoes{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 20%;
}