

@import url();





body {
    color: 0;
    margin: 0;

    
}
.barra{
    display: flex;
    flex-direction: row;
    background-color: #000;
    height: 137px;
    align-items: center;
}

.logo{
    display: flex;
    width: 420px;
}

.logo img {

    width: 161px;
   padding-left: 50px;
  
}
.iconsBarra {
    display: flex;
    justify-content: center;
    padding-right: 30px;

}
.iconsBarra a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    height: 58px;
    width: 188px;
    

    font-size: 40px;
    font-family: "pricedown", Courier, monospace;
    color: white
   
}
.iconsBarra .b2_button{
    padding-right: 1440px;
}

/* Parte do meio da home */

.telaHome{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    background-image: url(.//arquivos/imagens/imagemDaHome.png);
    
    background-size: cover;
    
    background-repeat: no-repeat;

    height: 1230px;
    
    
}

.textinicial{
    margin-left: 10px;
    height: 530px;
    
}
#fraseBemvindo{
    font-size: 80px;
    color: #062818;
    font-family: "pricedown", Courier, monospace;
    margin-top: 0;
}
#fraseParaCadastrar{
    color: #000;
    font-size: 35px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    width: 840px;

}
.botoesDaHome{
display: flex;
justify-content: space-between;
width: 500px;
padding-left: 76px;
}
#botaoEntrar{
    background-color: #000;
    color: white;
    border-radius: 20px;
    border: 0;

    font-size: 36px ;
    font-family: "pricedown", Courier, monospace;

    height: 102px;
    width: 146px;
}
#botaoCadastrar{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 0;

    font-size: 36px ;
    font-family: "pricedown", Courier, monospace;

    height: 102px;
    width: 240px;
}













/*Página de Cadastro*/



